<!-- <ion-datetime datetime="datetime"></ion-datetime> -->
<ion-content [fullscreen]="true">
  
  <!-- <ion-datetime presentation="month-year"></ion-datetime> -->
  <ion-icon class="hlo" routerLink="/dashboard" name="chevron-back-outline"></ion-icon><h6>My Attendance</h6>
<p class="left"> <ion-icon name="chevron-back-outline"></ion-icon> <strong>2023</strong> <ion-icon name="chevron-forward-outline"></ion-icon> </p>
<p class="right"><ion-icon class="my" name="arrow-back-outline"></ion-icon>&nbsp;&nbsp;&nbsp;November &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong> october</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; December <ion-icon name="arrow-forward-outline"></ion-icon></p>
    <ion-card>
      <ion-grid>
        <ion-row>
           <ion-col size="3" size-sm="3"> <h5 class="wel">11 <br><br>Tue</h5></ion-col>
          <ion-col size="3" size-sm="3"><h5>Punch in</h5>
            <p>10.00 pm</p>
          </ion-col>
          <ion-col size="3" size-sm="3"><h5>Punch out</h5>    <p>6.00 pm</p></ion-col>
          <ion-col size="3" size-sm="3"><h5>Status</h5>
            <p class="text-success">Present</p></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="3" size-sm="3"> <h5 class="wel">11 <br><br>Tue</h5></ion-col>
          <ion-col size="3" size-sm="3"><h5>Punch in</h5>
            <p>10.00 pm</p>
          </ion-col>
          <ion-col size="3" size-sm="3"><h5>Punch out</h5>    <p>6.00 pm</p></ion-col>
          <ion-col size="3" size-sm="3"><h5>Status</h5>
            <p class="text-success">Present</p></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="3" size-sm="3"> <h5 class="wel">11 <br><br>Tue</h5></ion-col>
          <ion-col size="3" size-sm="3"><h5>Punch in</h5>
            <p>10.00 pm</p>
          </ion-col>
          <ion-col size="3" size-sm="3"><h5>Punch out</h5>    <p>6.00 pm</p></ion-col>
          <ion-col size="3" size-sm="3"><h5>Status</h5>
            <p class="text-success">Present</p></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="3" size-sm="3"> <h5 class="wel">11 <br><br>Tue</h5></ion-col>
          <ion-col size="3" size-sm="3"><h5>Punch in</h5>
            <p>10.00 pm</p>
          </ion-col>
          <ion-col size="3" size-sm="3"><h5>Punch out</h5>    <p>6.00 pm</p></ion-col>
          <ion-col size="3" size-sm="3"><h5>Status</h5>
            <p class="text-success">Present</p></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    
  
</ion-content>