<!-- <ion-datetime datetime="datetime"></ion-datetime> -->
<!-- <ion-icon name="arrow-back-outline"></ion-icon> -->
<!-- <ion-icon name="arrow-forward-outline"></ion-icon> -->
<ion-content [fullscreen]="true">
  
  <!-- <ion-datetime presentation="month-year"></ion-datetime> -->
  <ion-icon class="hlo" routerLink="/home" name="chevron-back-outline"></ion-icon><h6 style="margin-top: -25px;font-size: 18px;">My Attendance</h6>
 <p style="text-align: center;"> <ion-icon  name="arrow-back-outline" (click)="changeYear(-1)"></ion-icon> <b> {{ selectedYear }}</b> <ion-icon name="arrow-forward-outline" (click)="changeYear(1)"></ion-icon> </p> 


  <ion-grid style="margin-left: 10px;">

    <!-- <ion-row> -->
      <!-- Year slider -->
      <!-- <ion-col size="2">
        <ion-icon name="chevron-back" (click)="changeYear(-1)"></ion-icon>
      </ion-col>
      <ion-col size="8" class="ion-text-center">
        {{ selectedYear }}
      </ion-col>
      <ion-col size="2">
        <ion-icon name="chevron-forward" (click)="changeYear(1)"></ion-icon>
      </ion-col>
    </ion-row> -->

    <ion-row>
      <!-- Month slider -->
      <ion-col size="2">
        <ion-icon class="ico" name="arrow-back-outline" (click)="changeMonth(-1)"></ion-icon>
      </ion-col>
      <ion-col size="8" class="ion-text-center">
        <span [ngClass]="{'selected-month': selectedMonth === currentMonth}">
         <b>{{ selectedMonth }}</b> 
        </span>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="arrow-forward-outline" (click)="changeMonth(1)"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
<div>
  <ion-grid class="grid">
    <ion-row class="data">
      <ion-col class="ion-col" size="3"><div class="divitem"><span>11 <br>Tue</span> </div></ion-col>
      <ion-col class="ion-col"size="3"><div class="am"><ion-label>Punch in</ion-label> 10.00.AM</div></ion-col>
      <ion-col class="ion-col" size="3"><div class="am"><ion-label>Punch Out</ion-label> 06.30.AM</div></ion-col>
      <ion-col class="ion-cols"size="3"><div class="present">Status<ion-label class="Status" style="color: rgb(58, 171, 58);">Present</ion-label> </div></ion-col>

    </ion-row>
 
    <ion-row class="data">
      <ion-col class="ion-col" size="3"><div class="divitem"><span>12 <br>Tue</span> </div></ion-col>
      <ion-col class="ion-col" size="3"><div class="am"><ion-label>Punch in</ion-label> 10.AM</div></ion-col>
      <ion-col class="ion-col"size="3"><div class="am"><ion-label>Punch Out</ion-label> 06.30.AM</div></ion-col>
      <ion-col class="ion-cols" size="3"><div class="present">Status<ion-label class="Status" style="color: rgb(58, 171, 58);">Present</ion-label> </div></ion-col>
    </ion-row>
 
    <ion-row class="data">
      <ion-col class="ion-col"size="3"><div class="divitem"><span>13 <br>Tue</span> </div></ion-col>
      <ion-col class="ion-col"size="3"><div class="am"><ion-label>Punch in</ion-label>
        10.AM </div></ion-col>
      <ion-col class="ion-col"size="3"><div class="am"><ion-label>Punch Out</ion-label> 06.30.AM</div></ion-col>
      <ion-col class="ion-cols" size="3"><div class="present">Status<ion-label class="Status" style="color: rgb(58, 171, 58);">Present</ion-label> </div></ion-col>

    </ion-row>
 
    <ion-row class="data">
      <ion-col class="ion-col"size="3"><div class="divitem"><span>14 <br>Tue</span> </div></ion-col>
      <ion-col class="ion-col"size="3"><div class="am"> <ion-label>Punch in</ion-label> 10.AM</div></ion-col>
      <ion-col class="ion-col" size="3"><div class="am"><ion-label>Punch Out</ion-label> 06.30.AM</div></ion-col>
      <ion-col class="ion-cols" size="3"><div class="present">Status<ion-label class="Status"style="color: red;">Absent</ion-label> </div></ion-col>

    </ion-row>
 
    <ion-row class="data">
      <ion-col class="ion-col"size="3"><div class="divitem"><span>15 <br>Tue</span> </div></ion-col>
      <ion-col class="ion-col"size="3"><div class="am"> <ion-label>Punch in</ion-label> 10.AM</div></ion-col>
      <ion-col class="ion-col"size="3"><div class="am"><ion-label>Punch Out</ion-label> 06.30.AM</div></ion-col>
      <ion-col class="ion-cols"size="3"><div class="present">Status<ion-label class="Status" style="color: rgb(58, 171, 58);">Present</ion-label> </div></ion-col>

    </ion-row>

    <ion-row class="data">
      <ion-col class="ion-col" size="3"><div class="divitem"><span>16 <br>Tue</span> </div></ion-col>
      <ion-col class="ion-col"size="3"><div class="am"> <ion-label>Punch in</ion-label> 10.AM</div></ion-col>
      <ion-col class="ion-col"size="3"><div class="am"><ion-label>Punch Out</ion-label> 06.30.AM</div></ion-col>
      <ion-col class="ion-cols"size="3"><div class="present">Status<ion-label class="Status" style="color: rgb(58, 171, 58);">Present</ion-label> </div></ion-col>

    </ion-row>
 
    <ion-row class="data">
      <ion-col class="ion-col" size="3"><div class="divitem"><span>17 <br>Tue</span> </div></ion-col>
      <ion-col class="ion-col"size="3"><div class="am"> <ion-label>Punch in</ion-label> 10.AM</div></ion-col>
      <ion-col class="ion-col"size="3"><div class="am"><ion-label>Punch Out</ion-label> 06.30.AM</div></ion-col>
      <ion-col class="ion-cols"size="3"><div class="present">Status<ion-label class="Status" style="color: red;">Absent</ion-label> </div></ion-col>

    </ion-row >
 
    <ion-row class="data">
      <ion-col class="ion-col"size="3"><div class="divitem"><span>18 <br>Tue</span> </div></ion-col>
      <ion-col class="ion-col"size="3"><div class="am"> <ion-label>Punch in</ion-label> 10.AM</div></ion-col>
      <ion-col class="ion-col"size="3"><div class="am"><ion-label>Punch Out</ion-label> 06.30.AM</div></ion-col>
      <ion-col class="ion-cols" size="3"><div class="present">Status<ion-label class="Status" style="color: rgb(58, 171, 58);">Present</ion-label> </div></ion-col>

    </ion-row>
  </ion-grid>
</div>

    
  
</ion-content>