button{
   margin-top: 400px;
   margin-left: 20px;
//    color: #3f0303;
   background-color: #832823;
   font-size: 100%;
   padding: 15px;
   border-radius: 10%;
   color: white;
}
.icon{
   font: 20%;
}
.left{
   font-size: 200%;
   margin-top: 10px;
   margin-left: 20px;
}
h3{
   margin-top: -30px;
   margin-left: 40%;
   color: gray;
} 