<!-- <ion-content [fullscreen]="true">
  <div id="bg">
    <ion-row>
      <ion-col class="ion-margin">
        <h3>Sign In</h3>
        <h6>Lorem ipsum dolor sit amet, consectetuer</h6>  
      </ion-col>
    </ion-row>
  </div>
 

 
  <ion-list lines="none" class="ion-margin" >
 
    <ion-item class="ion-margin">
      <ion-input placeholder="Enter Username" type="text" clearInput="true"  > </ion-input>
      <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-input placeholder="Enter Password" type="password" clearInput="true" ></ion-input>
      <ion-icon name="bag-outline" slot="start"></ion-icon>
      <ion-icon name="eye" slot="end"></ion-icon>
    </ion-item>
    <ion-text color="info"><p class="ion-margin-horizontal" routerLink="/forgot">Forgot Password? ? Recover it now.</p></ion-text>
  
  <ion-button shape="round" (click)="presentAlert()" expand="full" routerLink="/dashboard" fill="clear"   strong="true" class="ion-margin-end"   >
    Sign In
    
  </ion-button>
 
    
    
  </ion-list>
 
</ion-content> -->
<ion-content [fullscreen]="true">
  <div id="bg">
    <ion-row>
      <ion-col class="ion-margin">
        <h3 style="margin-top: 90px;">Sign In</h3>
        <!-- <h6>Lorem ipsum dolor sit amet, consectetuer</h6>   -->
      </ion-col>
    </ion-row>
  </div> 
  
<div class="login-section">

  <ion-item class="ion-margin">
    <ion-input placeholder="Mobile Number"  type="text" clearInput="true"  > </ion-input>
    <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
  </ion-item>
  <ion-item class="ion-margin">
    <ion-input placeholder="Enter Password" type="password" clearInput="true" [type]="passwordType" ></ion-input>
    <ion-icon name="bag-outline" slot="start"></ion-icon>
    <ion-icon name="eye" slot="end"  (click)="hideShowPassword()"></ion-icon>
  </ion-item>
  <!-- <ion-text color="info"><p class="ion-margin-horizontal" >Forgot Password? ? Recover it now.</p></ion-text> -->
  <p class="le">Forgot password ?<small>Recover it now</small> </p>
<ion-button shape="round" (click)="presentAlert()" expand="full" routerLink="/dashboard" fill="clear"   strong="true" class="ion-margin-end"   >
  Sign In
  
</ion-button> 
      

</div>
 
  <!-- <ion-list lines="none" class="ion-margin" >
 
    <h2>To Visit</h2>
   
      <ion-card class="btn1" routerLink="/details" >
        <ion-row >
          <ion-col size="4">
            <div class="ion-text-center">
              <span class="text-statics-small text-dark"> ProjectName:</span>
              <h6>Mayur shelar</h6>
            </div>
          </ion-col>
          <ion-col size="8">
            <div class="ion-text-center">
              <span class="text-statics-small text-dark">Date:</span> <br>
              <h6>6-02-2021</h6>
            </div>
          </ion-col>
          <ion-col size="12" >
            <div class="ion-text-left">
              <span class="text-statics-small text-dark">Venue Name</span> <br>
              <h6>Sosho Kitchen & bar</h6>
            </div>
          </ion-col>
          <ion-col size="12" >
            <div class="ion-text-left">
              <span class="text-statics-small text-dark">Contact Number</span> <br>
              <h6>919350868673</h6>
            </div>
          </ion-col>
        
        </ion-row>
      </ion-card>
   
     
     
 
    <h2>Visited</h2>
    
    <ion-card class="btn1" routerLink="/details1" >
      <ion-row >
        <ion-col size="4">
          <div class="ion-text-center">
            <span class="text-statics-small text-dark"> ProjectName:</span>
            <h6>Mayur shelar</h6>
          </div>
        </ion-col>
        <ion-col size="8">
          <div class="ion-text-center">
            <span class="text-statics-small text-dark">Date:</span> <br>
            <h6>6-02-2021</h6>
          </div>
        </ion-col>
        <ion-col size="12" >
          <div class="ion-text-left">
            <span class="text-statics-small text-dark">Venue Name</span> <br>
            <h6>Sosho Kitchen & bar</h6>
          </div>
        </ion-col>
        <ion-col size="12" >
          <div class="ion-text-left">
            <span class="text-statics-small text-dark">Contact Number</span> <br>
            <h6>919350868673</h6>
          </div>
        </ion-col>
      
      </ion-row>
    </ion-card>
      
    
  </ion-list> -->

 
</ion-content>