#bg {
    height: 100%;
    width: 500px;
  background-color: #832823;
    //   background: var(--ion-color-dark) url('https://media.istockphoto.com/id/469090778/photo/interior-of-empty-modern-hair-and-beauty-salon.jpg?b=1&s=170667a&w=0&k=20&c=GGxqz2p8I4PEaMa1OW8sXz06Z0yD-vYsfZA9_nalgjs=') no-repeat center center/cover;
    // border-radius: 80 0 45% 45%;
  border-color: #3f0303;
    position: relative;
}
ion-content{
    background-color: #3f0303;
}
   

ion-button{
    margin-top: 73px;
    height: 48px;
    margin-left: 8%;
    margin-right: 8%;
}

h3{
    text-align: left;
    font-family: inherit;
    font-weight: bolder;
    color: rgb(238, 242, 245);
    font-size: 31px;
    margin-top: 65px;
     
   
  }
  
  .hello{
   
    height: 100%;
    width: 100%;
  } 
  h6{
      color: rgb(238, 242, 245);;
  }
  .mbtn{
    margin-right: 430px;
    margin-top: -1px;
    color: white;
   
  }
  ion-menu-button{
    color: white;
  }
  .pbtn{
    margin-top:-40px;
    margin-left:50px;
    color: white;
  }
  h1{
    color: white;
  }
  .wbtn{
    margin-top: -10px;
    color: white;
    margin-left: 11px;
  }
  .jbtn{
    margin-left: 11px;
  }
  .up{
    margin-top: -15px;
  }
  .lbtn{
    color: white;
    font-size: medium;
    margin-left: 15px;
  }
  .btn{
     color:#832823 ;
    margin-top: -10px;
    border: 1px;
    background-color: #FFB900;
    border-style: solid;
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 260px;
  }
  .ybtn{
    margin-top: -3px;
  color: white;
  margin-left:15px;
  }
h2{
  margin-left: 22px;
}
  ion-card {
  width: 300%;
  margin-left:30px;
  margin: 4px; 
  height: 30%;
  border-left: 2px solid red;
}
.ioc{
  font-size: 200%;
}
.mmm{
  margin-left: 10px;
  font-size: 170%;
}

.btn1{
 font-size: 100%;
  margin-left: 20px;
  height: 80%;
  width: 100%;
 
}
.top{
  margin-top: -30px;
}
span{
  color: gray;
}
h6{
  font-size: 15px;
  color: black;
}

.login-section{
  height: 63vh;
  width: 300%;
  max-width: 500px;
  background: white;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  margin: auto;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  
}
img{
  height: 15%;
  width: 19%;
  border-radius: 50%;
  margin: 20px;
  margin-left: -80px;
}